// Global variables

$noMargin: 0;
$bodyBackgroundColor: whitesmoke;
$standardBoxShadow: inset 0 0 5px black;
$greenBoxShadow: inset 0 0 5px greenyellow;
$standardBorderRadius: 1rem;
$standardFont: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$greenBackground: greenyellow;
$erroMessageColor: gray;

//  INHERETANCE

%totalHeightWidth {
  height: 100vh;
  width: 100vw;
}

%hundredByHundred {
  height: 100%;
  width: 100%;
}

%totalPageComponentHeightWidth {
  height: 95vh;
  width: 95vw;
}

%displayFlexColumnCenter {
  display: flex;
  flex-direction: Column;
  justify-content: center;
  align-items: center;
}

%displayFlexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
